:root {
	--bg-color: #eaeaea;
	--graphite-color: #101010;
	--silver-color: #838383;
	--charcoal-color: #1c1c27;
	--apricot-color: #ffa542;
	--buttercream-color: #ffce7f;
	--content-color: #fff;

	--font-color-light: #fff;
	--font-color-dark: #000;

	--font-family-main: 'Montserrat', sans-serif;
	--font-size-extra-s: 13px;
	--font-size-s: 15px;
	--font-size-m: 17px;
	--font-size-l: 20px;

	--container-width: 1130px;

	--border-radius-s: 20px;
	--border-radius-m: 30px;
}
